.contentHeading {
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* color: #fff; */
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* margin-top: 0.25rem; */
  margin: 1rem;
}

.heading {
  display: flex;
  font-size: var(--subHeaderMobile);
  font-weight: 300;
  color: var(--navyDark);
  /* background-color: var(--navyDark); */
  /* color: var(--white); */
  text-align: center;
  /* margin: 1rem; */
}
