@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300&family=Noto+Sans:wght@200&family=Raleway:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', 'sans-serif';
  font-weight: 300;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* margin-left: 0.5rem; */
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

:root {
  --mainHeaderMobile: 2.25rem;
  --mainHeaderDesktop: 5rem;

  --subHeaderMobile: 1.75rem;
  --subHeadingDesktop: 2.5rem;

  --paragraphMobile: 1rem;
  --paragraphDesktop: 1.5rem;
  --navyDarkest: #000080;
  --navyDarker: #111aa3;
  --navyDark: #002ca9;
  --navy: #2832dc;
  --white: #f6f8fa;
}

h1 {
  font-family: 'Khula', sans-serif;
  font-weight: 300;
}
